# Executables
bin/*

# CMake build directory
build/*

# Editor settings 
.vscode/*

# Don't commit semaphore and threadpool classes since
# they are sourced from Stanford CS 110 assignments
src/concurrency/*